// Absract

@import './assets/style/abstract/variables';
@import './assets/style/abstract/mixins';

//Base

@import './assets/style/base/base';
@import './assets/style/base/typography';
@import './assets/style/base/reset';

//components



@import './assets/style/components/navbar';

        //Login - Register
@import './assets/style/components/loginRegister';
@import './assets/style/components/profile';
@import './assets/style/components/updateProfile';

        //Tag
@import './assets/style/components/tagBubbles';

        //Hike
@import './assets/style/components/hikes';
@import './assets/style/components/onlyHike';

@import './assets/style/components/create_hike';
@import './assets/style/components/update_hike';
@import './assets/style/components/delete_hike';



//Layout

@import './assets/style/layout/footer';
@import './assets/style/layout/header';

//Page

//@import './assets/style/page/';

/*animation: fadeInUp 1s ease-in-out forwards
    @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
    }*/